:root {
    --fondo-color: #1F2732;
    --blanco-color: #FFFFFF;
    --gris-boton: #2E3947;
    --color-letras: #CCAA60;
    --color-perfil:#161D27;
    --color-tarjetas:#161D27;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.encabezado{
    background-color: var(--fondo-color);
}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0px;
    width: 80%;
    height: 95px;
    border-bottom: 1.3px solid var(--blanco-color);
}
.flecha{
    margin-left: -10px;
}
.header__logo {
    height: 100%;
    width: 124px;
    display: flex;
    float: left;
}
.header__logo h1 ,.titulo_footer{
   padding: 14px;
   color: var(--blanco-color);
}

.header__consultas {
    display: flex;
    width: 310px;
}
.header__consultas img {
    padding: 15px;
}
.imagen {
    position: absolute;
}
.circulo {
    position: relative;
}

.header__consultas H3 {
    padding: 20px 0px;
    color: var(--blanco-color);
}

.consultas__boton {
    margin-left: 12px;
    padding: 0px 12px;
    text-align: center;
    background-color: var(--gris-boton);
    border: none;
    color: var(--blanco-color);
}

.header__menu {
    margin: auto;
    justify-content: space-between;
    width: 80%;
    height: 110px;
    border-bottom: 1.2px solid var(--blanco-color);
}
.menu__navegacion {
    height: 100%;
    display: flex;
}
.menu__navegacion ul {
    display: flex;
    margin: auto;
}
.menu_link {
    padding: 0px 22px;
    color: var(--blanco-color);
    font-size: clamp(18px, 1vw, 3rem);
}
.header__menu {
    display: flex;
}
.contactos {
    width: 420px;
    height: 100%;
    display: flex;
}
.contactos__circu{
    width: 50px;
    margin: auto;
    height: 55px;
}
.Cir{
    position:absolute;
}
.tele{
   padding: 22px;
}
.contactos h5{
    color: var(--blanco-color);
}
.telefono {
    display: flex;
    width: 170px;
    height: 100%;
}
.telefono h4 {
    color: var(--color-letras);
    padding-top: 35px;
}
.correo {
    display: flex;
    margin-left: 18px;
    width: 170px;
    height: 100%;
}
.correo__circu{
    width: 50px;
    margin: auto;
    height: 55px;
}
.Circu{
    position:absolute;
}
.email{
   padding: 22px;
}

.correo h4 {
    color: var(--color-letras);
    padding-top: 34px;
    margin-left: 18px;
    
}
.correo h5{
    margin-left: 18px;
    color: var(--blanco-color);
}
.section_error{
    padding: 40px;
    width: 84.3em;
    height: 45em;
    text-align: center;
    background-color: var(--fondo-color);
}
.parrafo{
    color: var(--blanco-color);
}
.but_error{
    width: 150px;
    padding: 11px;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 590px;
    position: relative;
    margin-top: 29px;
    background-color: var(--color-letras);
}
.but_error:hover{
    background-color: var(--gris-boton);
    color: var(--blanco-color);
}
.footer{
    border: 2px solid d;
    background-color:var(--fondo-color);
    max-width:86em;
    min-height: 30em;
    text-align: center;
    margin-top: -1px;
}
.section_logo{
    padding: 15px;
    max-width: 10%;
    display: flex;
}
.footer_logo{
    width: 95px;
    height: 55px;
    margin: 19px;
    margin-left: -1em;
}
.icon-footer_derecho{
  width: 19em;
  margin: 28px;
  margin-left: 10em;
}
.icon-footer_izquierdo{
    width: 19em;
    margin: 28px;
    margin-left: 2em;
}
.titulo_footer{
    font-size: 50px;
    margin: 0px -29px;
}
.section_servicios{
    padding: 2%;
    color: var(--blanco-color);
    display: flex;
    text-align: left;
}
.section_servicios-Quic ,.section_servicios-Utility,.section_servicios-Practice,.section_servicios-Conatct{
    width: 35%;
    height: 21em;
    line-height: 2em;
}
.contenedor_Quic-botones{
    display: flex;
    justify-content: space-between;
}
.contenedor_Quic-botones-botones2{
margin-right: 19%;
}
.Conatct-botones{
 margin-bottom: 8%;
}
.golden{
   color: var(--color-letras);
}
.img_footer{
    width: 99%;
}
.h{
    padding: 1%;
}
.final_footer{
    width: 99%;
    height: 15%;
    padding:1%;
    display: flex;
    justify-content: space-between;
}