:root{
    --fondo-color:#1F2732;
    --blanco-color:#FFFFFF;
    --gris-boton:#2E3947;
    --color-letras:#CCAA60;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: var(--fondo-color);
}
.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0px;
    width: 80%;
    height: 95px;
    border-bottom: 1.3px solid var(--blanco-color);
}
.header__logo{
    height: 100%;
    width: 124px;
    display: flex;
    float: left;
}
.header__logo h1{
   padding: 14px;
   color: var(--blanco-color);
}
.header__consultas{
    display:flex;
    width: 310px; 
}
.header__consultas img{
    padding: 16PX;
}
.header__consultas H3{
    padding: 20px 0px;
    color: var(--blanco-color);
}
.consultas__boton{
    margin-left: 12px;
    padding: 0px 12px;
    text-align: center;
    background-color: var(--gris-boton);
    border: none;
}
.color--border{
    width: 30px;
    height: 70px;
    border: 2px solid red;
    border-radius: 70px;
}
.header__menu{
    margin: auto;
    justify-content: space-between;
    width: 80%;
    height: 110px;
    border-bottom: 1.2px solid var(--blanco-color);
}
.contactos {
    width: 420px;
    height: 100%;
    display: flex;
    
}
.contactos__circu{
    width: 50px;
    margin: auto;
    height: 55px; 
}
.Cir{
    position:absolute;
}
.tele{
   padding: 22px;
}
.contactos h5{
    color: var(--blanco-color);
}
.telefono {
    display: flex;
    width: 170px;
    height: 100%;
}
.telefono h4 {
    color: var(--color-letras);
    padding-top: 35px;
}

.correo {
    display: flex;
    margin-left: 18px;
    width: 170px;
    height: 100%;
}
.correo__circu{
    width: 50px;
    margin: auto;
    height: 55px;
}
.Circu{
    position:absolute;
}
.email{
   padding: 22px;
}
.correo h4 {
    color: var(--color-letras);
    padding-top: 34px;
    margin-left: 18px;
    
}
.correo h5{
    margin-left: 18px;
    color: var(--blanco-color);
}
.menu__navegacion{
    height: 100%;
    display: flex;
}
.menu__navegacion ul{
    display: flex;
    margin: auto;
    
}
.menu__navegacion a{
    padding: 0px 22px ;
    color: var(--blanco-color);
    font-size: 18px;
}
.header__menu{
    display: flex;
}
.informacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 919px;
    height: 531px;
    margin: auto;
    align-items: center;
}
.imagen_perfil{
    border: 1px solid gray;
    width: 20em;
    height: 24em;
    margin-top: -40px;
}
.photo--imagen{
    width: 23em;
    height: 29em;
    padding: 10px;
    padding-left: 30px;
    padding-top: 30px;
}
.perfil__informacion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 8px; 
    padding-top: 70px;
    padding-right: 30px;
}
.button--bg{
    width: 12em;
    height: 4em;
    border: 0;
}
.perfil__titulo{
    max-width: 11em;
    font-size: 40px;
}
.color--white{
    color: white;
}
.informacion__story{
    width: 90%;
    margin: auto;
    height: 30em;
    padding-top: 5%;
}
.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}
.imagenes{
    width: 20em;
}
.story--tex{
    text-align: center;
    max-width: 436px;
}
.story__imagen{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 31px;
    padding-top: 40px;
}
.informacion__experiance{
    margin-top: 6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img_experience,.negocio{
    height: 35em;
    width: 39em;
}
.texto_experience{
    background-color: #CCAA60;
    display: flex;
    padding: 31px 33px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.text--titulo{
    color: #1F2732;
    font-family: Cormorant Garamond;
    font-size: 45px;
}
.text--info{
    color: #1F2732;
    font-family: Outfit;
    font-size: 20px;
}
.slider input[type="range"]{
    -webkit-appearance: none;
    width:347%;
    height: 4px;
    outline: none;
    border-radius: 10px;
    outline: none;
    background-color: #1F2732;
}
.slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background:#161D27;
}
/* .range{
    width: 35em;
    height: 4px;
} */
.porcentajes{
    display: flex;
    gap: 256px;
    padding-top: 20px;
}
.left{
    padding-left: 29px;
}
.titulo{
    font-size: 14px;
}
.informacion_values{
    display: flex;
    align-items: flex-start;
    gap: 90px;
    margin: auto;
    width: 61em;
    padding-top: 6%;
}
.texto_value{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}
.line_icon{
    width: 95px;
    height: 44px;
}
.value_info{
    font-family: Outfit;
}
.tablas__value{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}
.fondo_informacion{
    display: flex;
    padding:17px 16px 25px 16px;
    flex-direction: column;
    align-items: flex-start;
    background: #2E3642;
}
.informacion_team{
    width: 100%;
    height: 126vh;
    background: #ffffff;
    margin-top: 5%;
}
.team_galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 90vh;
    padding-top: 4%;
}
.team--titulo{
    color: #161D27;
    text-align: center;
}
.team_photo{
    display: flex;
    align-items: center;
    gap: 24px;
}
.team--tamaño{
    width: 260px;
    height: 355px;
}
.contactos_team{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 13em;
    height: 7em;
    padding: 21px 24px;
    margin-top: -41px;
    margin-left: 25px;
    background-color: #ffffff;
    position: absolute;
    gap: 3px;
}
.red-social{
    display: flex;
    gap: 10px;
    margin-top: -2px;
}
.line{
    width: 5em;
    height: 1px;
    background: #D1B06B;
}
.color--dorado{
    color: #CCAA60;
}
.tamaño{
    font-size: 1em;
}
.btn_border{
    margin-top: 6em;
    border: 1px solid black;
    background: #FFFFFF;
}
.informacion_testimonio{
    margin-top: 17%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    height: 91vh;
}
.icon-line{
    padding-left: 30%;
    padding-top: 20%
}
.testimonial{
    display: flex;
    margin-top: 2%;
}

.personajes{
    height: 12em;
    padding: 20px 20px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #2E3947;
    margin-left: 12px;
}
.nombre_photo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imagen--borde{
    border-radius: 40px;
    margin-top: 4%;
    width: 50px;
}
.personajes-border{
    display: flex;
    flex-direction: column-reverse;
    height: 12em;
    padding: 20px 20px;
    background: #2E3947;
    border-top-left-radius: 30px;
    gap: 20px;
    margin-top: 6%;
    margin-left: 12px;
}
.imagen-borde{
    border-radius: 40px;
    margin-top: -10%;
    width: 50px;
}
.informacion_clientes{
    width: 100%;
    height: 463px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30%;
}
.clientes{
    display: flex;
    justify-content: center;
    gap: 65px;
}
.titulo_cliente{
    font-size: 40px;
}
.clientes_titulo{
    display: flex;
    padding-top: 5%;
    gap: 13px;
}
footer{
    background-color: var(--fondo-color);
    max-width:86em;
    min-height: 30em;
    text-align: center;
}
.section_logo{
    padding: 15px;
    max-width: 10%;
    display: flex;
}
.footer_logo{
    width: 95px;
    height: 55px;
    margin: 19px;
    margin-left: -1em;
}
.icon-footer_derecho{
  width: 19em;
  margin: 28px;
  margin-left: 10em;
}
.icon-footer_izquierdo{
    width: 19em;
    margin: 28px;
    margin-left: 2em;
}
.titulo_footer{
    font-size: 50px;
    margin: 0px -29px;
    color: #ffffff;
    margin-top: 12px;
}
.section_servicios{
    padding: 2%;
    color: var(--blanco-color);
    display: flex;
    text-align: left;
}
.section_servicios-Quic ,.section_servicios-Utility,.section_servicios-Practice,.section_servicios-Conatct{
    width: 35%;
    height: 21em;
    line-height: 2em;
}
.contenedor_Quic-botones{
    display: flex;
    justify-content: space-between;
}
.contenedor_Quic-botones-botones2{
margin-right: 19%;
}
.Conatct-botones{
 margin-bottom: 8%;
}
.golden{
   color: var(--color-letras);
}
.img_footer{
    width: 99%;
}
.h{
    padding: 1%;
}
.final_footer{
    width: 99%;
    height: 15%;
    padding:1%;
    display: flex;
    justify-content: space-between;
}
