:root {
    --fondo-color: #1F2732;
    --blanco-color: #FFFFFF;
    --gris-boton: #2E3947;
    --color-letras: #CCAA60;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: var(--fondo-color);
}
.encabezado{
    background-image: url("../imgpantalla2/Photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--fondo-color);
    height: 90vh;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0px;
    width: 80%;
    height: 95px;
    border-bottom: 1.3px solid var(--blanco-color);
}
.flecha{
    margin-left: -10px;
}
.header__logo {
    height: 100%;
    width: 124px;
    display: flex;
    float: left;
}
.header__logo h1 ,.titulo_footer{
   padding: 14px;
   color: var(--blanco-color);
}

.header__consultas {
    display: flex;
    width: 310px;
}

.header__consultas img {
    padding: 15px;
}

.imagen {
    position: absolute;
}
.circulo {
    position: relative;
}
.header__consultas H3 {
    padding: 20px 0px;
    color: var(--blanco-color);
}
.consultas__boton {
    margin-left: 12px;
    padding: 0px 12px;
    text-align: center;
    background-color: var(--gris-boton);
    border: none;
    color: var(--blanco-color);
}
.header__menu {
    margin: auto;
    justify-content: space-between;
    width: 80%;
    height: 110px;
    border-bottom: 1.2px solid var(--blanco-color);
}
.menu__navegacion {
    height: 100%;
    display: flex;
}
.menu__navegacion ul {
    display: flex;
    margin: auto;
}
.menu_link {
    padding: 0px 22px;
    color: var(--blanco-color);
    font-size: clamp(18px, 1vw, 3rem);
}


.header__menu {
    display: flex;
}

.contactos {
    width: 420px;
    height: 100%;
    display: flex;
    
}
.contactos__circu{
    width: 50px;
    margin: auto;
    height: 55px; 
}
.Cir{
    position:absolute;
}
.tele{
   padding: 22px;
}
.contactos h5{
    color: var(--blanco-color);
}
.telefono {
    display: flex;
    width: 170px;
    height: 100%;
}
.telefono h4 {
    color: var(--color-letras);
    padding-top: 35px;
}

.correo {
    display: flex;
    margin-left: 18px;
    width: 170px;
    height: 100%;
}
.correo__circu{
    width: 50px;
    margin: auto;
    height: 55px;
}
.Circu{
    position:absolute;
}
.email{
   padding: 22px;
}
.correo h4 {
    color: var(--color-letras);
    padding-top: 34px;
    margin-left: 18px;
    
}
.correo h5{
    margin-left: 18px;
    color: var(--blanco-color);
}
.textos{
    display: flex;
    width: 80%;
    margin: auto;
    height: 550px;
}
.textos__text{
    width: 30%;
}
.textos__imagen{
   position: relative;
    width: 70%;
}

.text__titulo{
    font-size: 38px;
    color: var(--blanco-color);
    margin-bottom: 8px;
}
.text__parrafo{
    font-size: 17px;
    font: Outfit;
    gap: 3px;
    color: var(--color-letras);
}
.imagen_perfil{
    width: 100%;
    height: 100%;
}
.text__botonget{
    margin-top: 22px;
    border: none;
    padding: 14px 35px;
    background-color: var(--color-letras);
}
.text_imag{
    margin-top: 75px;
}
.perfil{
    background-color: var(--fondo-color);
    height: 550px;
    display: flex;
}
.perfil__imagenes{
    margin: auto;
    width: 70%;
    height: 340px;
    background-color: #FFFFFF;
}
.header__titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.color--white{
    color: #FFFFFF;
}
.informacion__carAccident{
    background: #1F2732;
    height: 334vh;
    width: 100%;
}
.imagen_car{
    width: 76%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-fondo{
    margin-top: 10%;
    height: 400px;
}
.informacion__Car{
    width: 76%;
    margin: auto;
    height: 100%;
    display: flex;
}
.texto__car{
    width: 52%;
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 7%;
}
.texto__car h2{
    font-size: 30px;
}
.texto_parrafo{
    font-size: 14px;
}
.opciones{
    display: flex;
    align-items: center;
    gap: 9px;
}
.opciones p{
    font-size: 14px;
}
.circle{
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 10px;
}
.img-fond{
    width: 100%;
}
.texto_center{
    text-align: center;
}
.fondo__white{
    width: 84%;
    height: 102vh;
    background: #FFFFFF;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding:5%;
    gap: 7px;
}
.color-blue{
    color: #1F2732;
}
.color-gris{
    color: grey;
    font-size: 13px;
}
.lineas{
    width: 348px;
    height: 1px;
    background:grey;
}
.resul{
    width: 76%;
    height: 140px;
    background-color: #CCAA60;
    margin: auto;
}
.border{
    border: 1px solid black;
    height: 110px;
    margin: auto;
    width: 260px;
    margin-top: 5%;
    padding: 30px 60px;
}
.texto_year{
    position: absolute;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.imagen-fd{
    width: 84%;
    margin-left: 30px;
}
.btn--about{
    height: 60px;
    width: 200px;
    background: #1F2732;
    border: none;
    font-size: 20px;
    color: #050404;
}
.btn--about:hover{
    background: #CCAA60;
    cursor: pointer;
    color: #1F2732;
}
.color_orange{
    color: #CCAA60;
}
.texto__million{
    width: 84%;
    height: 43vh;
    background: #CCAA60;
    margin-left: 30px;
}
.million{
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn--color{
    height: 60px;
    width: 200px;
    background: #CCAA60;
    border:none;
    font-size: 16px;
    color: #1F2732;
}
.btn--color:hover{
    background: #1F2732;
    color: #FFFFFF;
    cursor: pointer;
}
.informacion_clientes{
    width: 100%;
    height: 463px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30%;
}
.clientes{
    display: flex;
    justify-content: center;
    gap: 65px;
}
.titulo_cliente{
    font-size: 40px;
}
.clientes_titulo{
    display: flex;
    padding-top: 5%;
    gap: 13px;
}

footer{
    background-color: var(--fondo-color);
    max-width:86em;
    min-height: 30em;
    text-align: center;
    margin: auto;
}
.section_logo{
    padding: 15px;
    max-width: 10%;
    display: flex;
}
.footer_logo{
    width: 95px;
    height: 55px;
    margin: 19px;
    margin-left: -1em;
}
.icon-footer_derecho{
  width: 19em;
  margin: 28px;
  margin-left: 10em;
}
.icon-footer_izquierdo{
    width: 19em;
    margin: 28px;
    margin-left: 2em;
}
.titulo_footer{
    font-size: 50px;
    margin: 0px -29px;
    color: #FFFFFF;
}
.section_servicios{
    padding: 2%;
    color: var(--blanco-color);
    display: flex;
    text-align: left;
}
.section_servicios-Quic ,.section_servicios-Utility,.section_servicios-Practice,.section_servicios-Conatct{
    width: 35%;
    height: 21em;
    line-height: 2em;
}
.contenedor_Quic-botones{
    display: flex;
    justify-content: space-between;
}
.contenedor_Quic-botones-botones2{
margin-right: 19%;
}
.Conatct-botones{
 margin-bottom: 8%;
}
.golden{
   color: var(--color-letras);
}
.img_footer{
    width: 99%;
}
.h{
    padding: 1%;
}
.final_footer{
    width: 99%;
    height: 15%;
    padding:1%;
    display: flex;
    justify-content: space-between;
}
