:root {
    --fondo-color: #1F2732;
    --blanco-color: #FFFFFF;
    --gris-boton: #2E3947;
    --color-letras: #CCAA60;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.encabezado{
    background-image: url("../imagenes_G/img_homepages/Photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--fondo-color);
    height: 690px;

}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0px;
    width: 80%;
    height: 95px;
    border-bottom: 1.3px solid var(--blanco-color);
}

.header__logo {
    height: 100%;
    width: 124px;
    display: flex;
    float: left;
}

.header__logo h1 {
    padding: 14px;
    color: var(--blanco-color);
}

.header__consultas {
    display: flex;
    width: 310px;
}

.header__consultas img {
    padding: 18px;
}

.imagen {
    position: absolute;

}

.circulo {
    position: relative;


}

.header__consultas H3 {
    padding: 20px 0px;
    color: var(--blanco-color);
}

.consultas__boton {
    margin-left: 12px;
    padding: 0px 12px;
    text-align: center;
    background-color: var(--gris-boton);
    border: none;
}

.header__menu {
    margin: auto;
    justify-content: space-between;
    width: 80%;
    height: 110px;
    border-bottom: 1.2px solid var(--blanco-color);
}

.menu__navegacion {
    height: 100%;
    display: flex;
}

.menu__navegacion ul {
    display: flex;
    margin: auto;

}

.menu_link {
    padding: 0px 22px;
    color: var(--blanco-color);
    font-size: clamp(18px, 1vw, 3rem);
}


.header__menu {
    display: flex;
}

.contactos {
    width: 420px;
    height: 100%;
    display: flex;
}

.telefono {
    display: flex;
    width: 210px;
    padding: 45px;
    height: 100%;
}

.telefono h4 {
    color: var(--color-letras);
}

.correo {
    display: flex;
    margin-left: 18px;
    width: 210px;
    padding: 45px;
    height: 100%;
}

.correo h4 {
    color: var(--color-letras);
}
.textos{
    height: 350px;
    display: flex;
    width: 80%;
    margin: auto;

}
.textos__text{
    height: 440px;
    background-color: #FFFFFF;
    width: 50%;
}
.textos__imagen{
    height: 450px;
    width: 50%;
   
}