:root{
    --fondo-color:#1F2732;
    --blanco-color:#FFFFFF;
    --gris-boton:#2E3947;
    --color-letras:#CCAA60;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: var(--fondo-color);
    opacity: 120%;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0px;
    width: 80%;
    height: 95px;
    border-bottom: 1.3px solid var(--blanco-color);
}
.header__logo{
    height: 100%;
    width: 124px;
    display: flex;
    float: left;
}
.header__logo h1 ,.titulo_footer{
   padding: 14px;
   color: var(--blanco-color);
}
.header__consultas{
    display:flex;
    width: 310px; 
}
.header__consultas img{
    padding: 16PX;
}
.header__consultas H3{
    padding: 20px 0px;
    color: var(--blanco-color);
}
.consultas__boton{
    margin-left: 12px;
    padding: 0px 12px;
    text-align: center;
    background-color: var(--gris-boton);
    border: none;
}
.header__menu{
    margin: auto;
    justify-content: space-between;
    width: 80%;
    height: 110px;
    border-bottom: 1.2px solid var(--blanco-color);
}
.menu__navegacion{
    height: 100%;
    display: flex;
}
.menu__navegacion ul{
    display: flex;
    margin: auto;
    
}
.menu__navegacion a{
    padding: 0px 22px ;
    color: var(--blanco-color);
    font-size: 18px;
}
.header__menu{
    display: flex;
}
.contactos{
    width: 420px;
    height: 100%;
    display: flex;
}
.telefono{
   display: flex;
    width: 210px;
    padding: 45px;
    height: 100%;
}
.telefono h4{
    color:var(--color-letras) ;
}
.correo{
    display: flex;
    margin-left: 18px;
    width: 210px;
    padding: 45px;
    height: 100%; 
}
.correo h4{
    color:var(--color-letras) ;
}

/*aqui comienza el pie de pagina*/
footer{
    background-color: var(--fondo-color);
    max-width:80em;
    max-height: 35em;
    text-align: center;
    border: 2px solid seagreen;
    display:grid;
}
.section_logo{
    padding: 15px;
    max-width: 10%;
    display: flex;
}
.footer_logo{
    width: 95px;
    height: 55px;
    margin: 19px;
    margin-left: -1em;
}
.icon-footer_derecho{
  width: 19em;
  margin: 28px;
  margin-left: 10em;
}
.icon-footer_izquierdo{
    width: 19em;
    margin: 28px;
    margin-left: 2em;
}

.titulo_footer{
    font-size: 50px;
    margin: 0px -29px;
}
.section_servicios{
    color: var(--blanco-color);
    display: flex;
}
.section_servicios-Quic{
    width: 35%;
    height: 10em;
    display: ;
    grid-template-columns: 1fr , 1fr;
    border: 2px solid darkgrey;
}