@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
:root {
    --fondo-color: #1F2732;
    --blanco-color: #FFFFFF;
    --gris-boton: #2E3947;
    --color-letras: #CCAA60;
    --color-perfil:#161D27;
    --color-tarjetas:#161D27;
}
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.encabezado{
    background-image: url("../imagenes_G/img_homepages/Photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--fondo-color);
}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0px;
    width: 80%;
    height: 95px;
    border-bottom: 1.3px solid var(--blanco-color);
}
.flecha{
    margin-left: -10px;
}
.header__logo {
    height: 100%;
    width: 124px;
    display: flex;
    float: left;
}
.header__logo h1 ,.titulo_footer{
   padding: 14px;
   color: var(--blanco-color);
}

.header__consultas {
    display: flex;
    width: 310px;
}
.header__consultas img {
    padding: 15px;
}
.imagen {
    position: absolute;
}
.circulo {
    position: relative;
}

.header__consultas H3 {
    padding: 20px 0px;
    color: var(--blanco-color);
}

.consultas__boton {
    margin-left: 12px;
    padding: 0px 12px;
    text-align: center;
    background-color: var(--gris-boton);
    border: none;
    color: var(--blanco-color);
}

.header__menu {
    margin: auto;
    justify-content: space-between;
    width: 80%;
    height: 110px;
    border-bottom: 1.2px solid var(--blanco-color);
}
.menu__navegacion {
    height: 100%;
    display: flex;
}
.menu__navegacion ul {
    display: flex;
    margin: auto;
}
.menu_link {
    padding: 0px 22px;
    color: var(--blanco-color);
    font-size: clamp(18px, 1vw, 3rem);
}
.header__menu {
    display: flex;
}
.contactos {
    width: 420px;
    height: 100%;
    display: flex;
}
.contactos__circu{
    width: 50px;
    margin: auto;
    height: 55px;
}
.Cir{
    position:absolute;
}
.tele{
   padding: 22px;
}
.contactos h5{
    color: var(--blanco-color);
}
.telefono {
    display: flex;
    width: 170px;
    height: 100%;
}
.telefono h4 {
    color: var(--color-letras);
    padding-top: 35px;
}
.correo {
    display: flex;
    margin-left: 18px;
    width: 170px;
    height: 100%;
}
.correo__circu{
    width: 50px;
    margin: auto;
    height: 55px;
}
.Circu{
    position:absolute;
}
.email{
   padding: 22px;
}

.correo h4 {
    color: var(--color-letras);
    padding-top: 34px;
    margin-left: 18px;
    
}
.correo h5{
    margin-left: 18px;
    color: var(--blanco-color);
}
.textos{
    display: flex;
    width: 75%;
    margin: auto;
    height: 550px;
}
.textos__text{
    width: 35%;
}
.textos__imagen{
    overflow: hidden;
    object-fit: cover;
    width: 100%;
}
.text__titulo{
    font-size: clamp(38px, 1vw, 3rem);
    color: var(--blanco-color);
    margin-bottom: 8px;
}
.text__parrafo{
    font-family: Outfit;
    font-size: clamp(22px, 1vw, 3rem);
    font-style: normal;
    font-weight: 400;
    gap: 3px;
    color: var(--color-letras);
}
.imgen_primer{
    width: 90%;
    height: 100%;
}
.imagen_perfil{
 max-width: 130%;
 min-width: 100%;
 height: 100%;
}
.text__botonget{
    margin-top: 22px;
    border: none;
    padding: 14px 35px;
    background-color: var(--color-letras);
}
.text_imag{
    margin-top: 75px;
}
.perfil{
    background-color: var(--fondo-color);
    display: flex;
    
}
.perfil__imagenes{
    margin: auto;
    margin-top: 145px;
    width: 80%;
    margin-bottom: 145px;
    display: flex;

}
.imagenes_im{
    width: 800px;
    height: 100%;
}
.imagenes_textos{
    padding-left: 32px;
    width: 90%;
    height: 100%;
}
.imagenes_textos img{
    width: 75px;
}
.im__uno{
    width: 100%;
    height: 275px;
    margin-bottom: 12px;
}
.im__dos{
    height: 100%;
    height: 275px;
}
.ima{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.textos_p{
    height: 85px;
    display: flex;
    width: 455px;
    
}
.textos_p h6{
    color: var(--blanco-color);
    font-family: Luxurious Script;
    font-size: 43px;
    font-style: normal;
    padding: 32px 18px;
    font-weight: 400;

}
.imagen_per{
    margin-top: 6px;
    width: 115px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--color-perfil);
    text-align: center;
    object-fit: cover;
    overflow: hidden;
}
.nose{
   
    width: 120px;
    height: 110px;
}
.textos__simple{
    padding-top: 15px;
    color: var(--blanco-color);
    font-family:' Cormorant Garamond';
    font-size: 45px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.textos__buttons{
    display: flex;
    margin-top: 65px;
    height: 150px;
    width: 655px;
   
    
}
.textos__parra{
    padding-top: 32px;
    padding-bottom: 25px;
    color: var(--blanco-color);
    font-family: Outfit;
    font-size: clamp(20px, 1vw, 3rem);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.carta{
    display: flex;
    margin: 20px 10px;
    width: 300px;
    height: 115.385px;
    padding: 26px 45px;
    background-color:#3B434E;
}
.carta__imagen{
    width: 40px;
    height: 65px;
}
.carta-ima{
    width:  58.66px;
    height: 100%;
}
.case{
    padding-top: 2px;
    font-family: Outfit;
    font-size: 22px;
    margin-left: 45px;
    color: var(--blanco-color);
    font-style: normal;
    font-weight: 500;
    
}
.experience{
    display: flex;
    margin: 20px 10px;
    width: 300px;
    height: 115.385px;
    padding: 26px 45px;
    background-color: var(--color-letras);
   
}
.experience h3{
    font-family: Outfit;
    margin: 10px 12px;
    font-size: 22px;
    color: var(--fondo-color);
}
.experience__t-treinta{
    margin: auto;
    width: 81px;
    background-color: var(--fondo-color);
    border-radius: 6px;
    height: 70px;
}
.experience__t-treinta h2{
    color: var(--blanco-color);
    font-family: Outfit;
    font-size: 30px;
    font-style: normal;
    margin: 18px;

}
.tarjetas{
     background-color: var(--color-tarjetas);
     display: flex;
     padding: 185px 20px;
}
.explore{
    margin: auto;
    width: 75%;
    margin-top: 35px;
   
}
.explore__titulo{
    display: flex;
    justify-content: space-between;
    height: 210px;
    padding: 12px;
   
}
.practice{
    width: 30%;
    height: 100%;
}
.pasagees{
    padding: 22px 42px 34px 65px;
    width: 70%;
    border-left: 1.3px solid #3A4553;
    height: 100%;
   
   
}
.explore__cuerpo{
    display: grid;
    width: 100%;
    gap: 10px ; 
    grid-template:" tarjeta__uno  tarjeta__dos    tarjeta__tres" 
                    " tarjeta__cuatro  tarjeta__cinco   tarjeta__seis";
    margin-top: 25px;
    
}
.tarjeta__uno{
    grid-area: tarjeta__uno;
    height: 295px;
    background-color:var(--fondo-color);
    width: 97%;
    padding: 40px;
}
.tarjetas__imagenes{
    height: 55px;
    display: flex;
    padding: 16px 8px;
    justify-content: space-between;
    border-top: 1.4px solid #ffffff;
   
}
.boton_lear{
    padding: 14px;
    background-color: var(--color-tarjetas);
    border: none;
    color: var(--blanco-color);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.explore__cuerpo p{
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    color:  #D7D7D7;
    font-weight: 400;
    line-height: 140%;
    padding: 22px 0px;
}
.explore__Explo{
    color: var(--blanco-color);
    font-family: Cormorant Garamond;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 114.6%;
    margin-bottom: 15px;
}
.pasagees__pa{
    padding-top: 25px;
    color: var(--blanco-color);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.span{
    color: var(--color-letras);
}
.explore__cuerpo h3{
    color: var(--blanco-color);
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 114.6%; 
}
.tarjeta__dos{
    grid-area: tarjeta__dos;
    height: 295px;
    background-color:var(--fondo-color);
    width: 97%;
    padding: 40px;
}
.tarjeta__tres{
    grid-area: tarjeta__tres;
    height: 295px;
    background-color:var(--fondo-color);
    width: 97%;
    padding: 40px;
}
.tarjeta__cuatro{
    grid-area: tarjeta__cuatro;
    height: 295px;
    background-color:var(--fondo-color);
    width: 97%;
    padding: 40px;
}
.tarjeta__cinco{
    grid-area: tarjeta__cinco;
    height: 295px;
    background-color:var(--fondo-color);
    width: 97%;
    padding: 40px;
}
.tarjeta__seis{
    grid-area: tarjeta__seis;
    height: 295px;
    background-color:var(--fondo-color);
    width: 97%;
    padding: 40px;
}

.trouble{
    margin: auto;
    margin-top: 45px;
    width: 70%;
    margin-bottom: 85px;
    padding: 45px 0px;
    background-color:var(--blanco-color);
}
.recta{
   width: 50px;
}
.help__p{
    margin: auto;
    padding: 24px;
    width: 55%;
    text-align: center;
}
.p__you{
    font-family: Cormorant Garamond;
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
}
.p__imagenes{
    width: 55px;
    height: 55px;
    margin: auto;
    margin-bottom: 45px;
}
.p__text{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
.imagenes_ima{
    padding-top: 15px;
}
.help__porcentajes{
    display: flex;
    margin: auto;
    margin-top: 18px;
    height:270px     ;
    width: 95%;
    border-bottom: 1px solid  #CBCBCB;
    
}
.help__imagenes{
    margin: auto;
    width: 80%;
    
}
.meet{
    display: flex;
    margin: auto;
    margin-top: 86px;
    width: 60%;
    height: 85px;
    
}
.mett__p{
    font-family: Cormorant Garamond;
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
}
.mett_im{
    margin: 10px;
}
.p__icon{
    margin: 12px 0px;
}
.porcentajes__tres{
    width: 50%;
    margin: 12px;
    height: 170px;
}
.uno__imagen{
    width: 100%;
    height: 100%;
}
.imagenes__imagenes{
    display: flex;
    width: 100%;
    height: 110px;
}
.images-i{
    width: 50%;
    height: 100%;
    margin: 15px;
}
.i__apartar{
    margin: 15px 0px;
}
   
.encuestas{
    background-image: url("../imagenes_G/img_homepages/fondo_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1F27324A ;
    padding: 125px;
    display: flex;
}
.encuestas__porcentajes{
    display: flex;
    margin: auto;
    width: 95%;
   
    background-color: var(--fondo-color);
    opacity: 80%;
}
.porcentajes__simbolo{
    width: 55%;
    height: 650px;
    margin: 0px 14px;
    padding: 0px 26px;
}
.modi{
    width: 30%;
}
.mujer{
    width: 100%;
    height: 100%;
}
.nueva{
    display: flex;
    margin: auto;
    margin-top: 80px;
    width: 95%;
    height: 60%;
    padding: 4px 85px;
}
.porcentajes__simbolo h3{
    font-family: Cormorant Garamond;
    font-size: 45px;
    color: var(--blanco-color);
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
}
.porcentajes__simbolo p{
    margin-top: 5px;
    color:  #D7D7D7;
    font-family: Outfit;
    font-size: clamp(18px, 1vw, 3rem);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
.porcentajes__simbolo h5{
    padding-top: 8px;
    
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-letras);

}
.bu_free{
    margin-top: 25px;
    padding: 20px 45px;
    background-color: var(--color-letras);
    border: none;
}
.stra{
    margin-top: 30px;
    width: 90%;
}

.informacion_testimonio{
    background-color: var(--fondo-color);
    padding: 85px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    height: 90vh;
}
.icon-line{
    padding-left: 30%;
    padding-top: 20%
}
.testimonial{
    display: flex;
    margin-top: 2%;
}

.personajes{
    height: 12em;
    padding: 20px 20px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #2E3947;
    margin-left: 12px;
}
.nombre_photo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imagen--borde{
    border-radius: 40px;
    margin-top: 4%;
    width: 50px;
}
.personajes-border{
    display: flex;
    flex-direction: column-reverse;
    height: 12em;
    padding: 20px 20px;
    background: #2E3947;
    border-top-left-radius: 30px;
    gap: 20px;
    margin-top: 6%;
    margin-left: 12px;
}
.imagen-borde{
    border-radius: 40px;
    margin-top: -10%;
    width: 50px;
}
.informacion_clientes{
    width: 100%;
    height: 463px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30%;
}
.color--white{
    color: white;
}

.informacion_team{
    width: 100%;
    height: 140vh;
    background: #ffffff;
    margin-top: 5%;
}
.team_galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 200vh;
    padding-top: 4%;
}
.team--titulo{
    color: #161D27;
    color: #161D27;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%; /* 51.57px */
    text-align: center;
}
.team_photo{
    display: flex;
    align-items: center;
    gap: 24px;
}
.team--tamaño{
    width: 260px;
    height: 355px;
}
.contactos_team{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 13em;
    height: 7em;
    padding: 21px 24px;
    margin-top: -41px;
    margin-left: 25px;
    background-color: #ffffff;
    position: absolute;
    gap: 3px;
}
.red-social{
    display: flex;
    gap: 10px;
    margin-top: -2px;
}
.line{
    width: 5em;
    height: 1px;
    background: #D1B06B;
}
.color--dorado{
    color: #CCAA60;
}
.tamaño{
    font-size: 1em;
}
.btn_border{
    margin-top: 6em;
    border: 1px solid black;
    background: white;
}
.btn_border:hover{
    background: #1F2732;
}
.button--bg{
    width: 12em;
    height: 4em;
    border: 0;
    background: #161D27;
    font-size: 16px;
}
.button--bg:hover{
    background: white;
}

.blog__cuerpo{
    background-color: var(--fondo-color);
    padding-top: 45px;
}
.blog{
    
    margin: auto;
    padding: 120px;
    width: 70%;
    height: 49vh;
    display: flex;
    align-items: center;
    gap: 4%;
    background-color: #1F2732;
}
.blog-informacion{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
    margin-top: 40px;
    
}
.color-orange{
    color: var(--color-letras);
}
.blog_line{
    margin-top: 7%;
    width: 1300px;
    height: 2px;
    background: #2E3947;
    margin: auto;
    margin-top: 2%;
}
.blog img{
    width: 83%;
    
}
.blog__galeria{
    display: flex;
    margin: auto;
    width: 69%;
    gap: 30px;
}
.cajas-blog{
   
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 3%;
}
.cajas-blog img{
    width: 100%;
    height: 25vh;
}
.line{
    width: 90%;
    height: 1px;
    background: #2E3947;
}
.informacion_clientes{
    width: 100%;
    height: 463px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30%;
    margin-top: 3%;
}
.blog__imagen_grande{
    margin-top: 25px;
    width: 100%;
}

/*aqui comienza el pie de pagina*/
footer{
    background-color: var(--fondo-color);
    margin: auto;
    max-width:80em;
    min-height: 30em;
    text-align: center;
}
.mod{
   width: 100%;
    background-color: var(--fondo-color);
}
.section_logo{
    padding: 15px;
    max-width: 10%;
    display: flex;
}
.footer_logo{
    width: 95px;
    height: 55px;
    margin: 19px;
    margin-left: -1em;
}
.icon-footer_derecho{
  width: 19em;
  margin: 28px;
  margin-left: 10em;
}
.icon-footer_izquierdo{
    width: 19em;
    margin: 28px;
    margin-left: 2em;
}
.titulo_footer{
    font-size: 50px;
    margin: 0px -29px;
}
.section_servicios{
    padding: 2%;
    color: var(--blanco-color);
    display: flex;
    text-align: left;
}
.section_servicios-Quic ,.section_servicios-Utility,.section_servicios-Practice,.section_servicios-Conatct{
    width: 35%;
    height: 21em;
    line-height: 2em;
}
.contenedor_Quic-botones{
    display: flex;
    justify-content: space-between;
}
.contenedor_Quic-botones-botones2{
margin-right: 19%;
}
.Conatct-botones{
 margin-bottom: 8%;
}
.golden{
   color: var(--color-letras);
}
.img_footer{
    width: 99%;
}
.h{
    padding: 1%;
}
.final_footer{
    width: 99%;
    height: 15%;
    padding:1%;
    display: flex;
    justify-content: space-between;
}